@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Nunito:wght@200;500;600&display=swap');
$background : #f3f0f0;
$otherColor: #1976D2;
$font-color: #5f5c5c;

.card-wrapper{
    background-color: white;
    width: 300px;
    min-height: 280px;
    border-radius: 16px;
    margin: 15px;
    padding: 10px;
}
.card-contain{
    margin: 10px;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin: 8px;
}
p{
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    margin: 6px;
    color: $font-color;
}