@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Pacifico&display=swap');
$otherColor: #8a5d79;

.dash-wrap{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.dash-contain{
    width: 500px;
    border-radius: 30px;
    height: fit-content;
    margin: 20px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;

    h1{
        font-size: 20px;
        font-family: 'Pacifico', cursive;
        text-align: left;
        margin: 5px 2px;
        color: #8a5d79;
        font-weight: 500;
    }
}
.img-upload{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    input{
        margin: 2px;
    }
    .MuiButton-outlined{
        border: 2px solid #8a5d79;
        margin: 3px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    a{
        text-decoration: none;
        color: $otherColor;
    }
}

.dash-form{
    margin: 5px 0;
    display: flex;
    flex-direction: column;

    .MuiFormControl-root{
        margin-top: 5px;

        .MuiFormLabel-root{
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            color: #8a5d79;
        }
        .MuiInputBase-input{
            font-size: 15px;
        }
    }
    .MuiButton-contained{
        border: 2px solid #8a5d79;
        margin-top: 3px;
        font-size: 13px;
        a{
            color: #8a5d79;
            text-decoration: none;
        }
    }
    .sign-out{
        background-color: #8a5d79;
        color: #e9e9e9;
    }
}

.status-btns{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;

    .active{
        border: 1.5px solid #16e716;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    .active:hover{
        border: 1.5px solid #16e716;
        background-color: #16e716;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    .busy{
        border: 1.5px solid #ffef0c;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    .busy:hover{
        border: 1.5px solid #ffef0c;
        background-color: #ffef0c;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    .absent{
        border: 1.5px solid #e13d3d;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    .absent:hover{
        border: 1.5px solid #e13d3d;
        background-color: #e13d3d;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
}

@media screen and (max-width: 450px){
    .dash-contain{
        width: 320px;
        border-radius: 30px;
        height: fit-content;
        margin: 20px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 15px;
        margin: 10px;
    }
    .img-upload{
        margin: 5px;
        img{
            width: 50px;
            height: 50px;
        }
        .MuiButton-outlined{
            border: 2px solid $otherColor;
            a{
                color: #8a5d79;
            }
        }
    }
    .dash-form{
        padding: 0 15px;

        .MuiInputBase-root .MuiInputBase-input{
            font-size: 10px;
        }
        .MuiButton-contained{
            border: 2px solid #8a5d79;
            font-size: 10px;
            a{
                color: #8a5d79;
                text-decoration: none;
            }
        }
        .sign-out{
            background-color: #8a5d79;
            color: #e9e9e9;
        }
    }
}