@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Nunito:wght@200;500;600&display=swap');
$background : #f3f0f0;
$otherColor: #8a5d79;
$font-color: #5f5c5c;

.home-wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.home-contain{
    display: flex;
    flex-direction: row;
}

.side-bar{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a5d79;

    h2{
        font-size: 1.5rem;
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        color: $background;
        text-align: center;
    }
}

.contents{
    width: 85%;
    height: 100vh;
    overflow: overlay;
    background-color: $background;
}

@media screen and (max-width: 700px){
    .side-bar{
        width: 20%;
        h2{
            font-size: 1.5rem;
        }
    }
    .contents{
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .side-bar{
        width: 20%;
        padding: 5px;
        background-color: #8a5d79;
        h2{
            font-size: 1rem;
        }
    }

    .contents{
        width: 80%;
    }
}
