@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Pacifico&display=swap');
$otherColor: #8a5d79;

.main-welcome{
    display: flex;
    justify-content: center;
}
.welcome-box{
    width: 800px;
    height: fit-content;
    margin: 70px 20px;
    display: flex;
}

.box-content{
    background-color: #f9f9f9;
    width: 400px;
    height: fit-content;
    padding: 100px 50px;
    border-radius: 30px;

    h1{
        font-size: 20px;
        font-family: 'Pacifico', cursive;
        text-align: center;
        margin: 10px 2px;
        color:#8a5d79;
    }
    p{
        color: #8a5d79;
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        margin: 10px 4px;
    }
    .MuiButton-contained{
        margin: 10px 20px;
        background-color: $otherColor;
        width: 230px;

        .MuiButton-label{
            color: #f9f9f9;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            padding: 3px 8px;
        }
        a{
            color: #f9f9f9;
            font-family: 'Lato', sans-serif;
            text-decoration: none;
        }
    }
    .MuiButton-outlined{
        border: 2px solid $otherColor;
        margin: 10px 20px;
        background-color: transparent;
        width: 230px;

        .MuiButton-label{
            color: $otherColor;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            padding: 3px 8px;
        }
        a{
            color: $otherColor;
            font-family: 'Lato', sans-serif;
            text-decoration: none;
        }
    }
}
.download-div{
    display: flex;
    margin: 5px;
    justify-content: flex-end;
}
.download {
    color: $otherColor;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
}
.box-blank:empty{
    background-color: $otherColor;
    width: 400px;
}

@media screen and (max-width: 900px) {
    .welcome-box{
        width: 700px;
        height: 0;
        margin: 50px 20px;
    }
    .box-content{
        p{
            font-size: 12px;
        }
    }
    .box-blank{
        height: 415px;
    }
}
@media screen and (max-width: 700px) {
    .welcome-box{
        margin: 50px 0;
        display: flex;
        height: fit-content;
        justify-content: center;
    }
    .box-content{
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin-bottom: 30px;
            font-size: 12px;
        }
    }
    .box-blank{
        width: 0;
    }
}
@media screen and (max-width: 450px) {
    .welcome-box{
        width: 300px;
        height: 0;
        margin: 80px 0;
    }
    .box-content{
        width: 300px;
        h1{
            font-size: 18px;
            margin: 5px;
        }
        p{
            font-size: 10px;
        }
        .MuiButton-contained{
            margin: 5px;
            width: 200px;
            .MuiButton-label{
                font-size: 10px;
                padding: 3px;
            }
        }
        .MuiButton-outlined{
            margin: 5px;
            width: 200px;
            .MuiButton-label{
                font-size: 10px;
                padding: 3px;
            }
        }
    }
}